
@{
    ViewData["Title"] = "SaveCar";
}

<h1 class="display-4">Dato guardado exitosamente</h1>
<div class="container">
    <ul class="list-group">
        <li class="list-group-item">
            <a class="text-dark" asp-area="" asp-controller="Home" asp-action="Index">Regresar a Home</a>
        </li>
        <li class="list-group-item">
            <a class="text-dark" asp-area="" asp-controller="Home" asp-action="EnterData">Ingresar otro</a>
        </li>
    </ul>
</div>