
@{
    ViewData["Title"] = "SaveCar";
}


<div class="container">
    <h1>@ViewBag.savecarsuccess</h1>
    <div>
        <a asp-action="Index">Back to Home</a>
    </div>
    <div>
        <a asp-action="ShowCar">Listado de Autos</a>
    </div>
</div>


